---
import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
		rel="stylesheet"
	/>
	<meta name="generator" content={Astro.generator} />
	<title>Energy Website | YellowPixel</title>
	<body>
		<div class="bg-[url('header_energy.png')] -z-10 bg-center text-white">
			<Navbar />
			<Header />
		</div>
	</body>
</html>

<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
	* {
		font-family: "Lato", sans-serif;
	}
</style>
