---
import Button from "./Button.astro";
---
<header class="h-96 grid-rows-[.3fr_1fr] grid items-center justify-items-center ">
    <h1 class="font-bold text-base text-center md:text-xl xl:text-3xl self-end w-5/6">Powering the Global Energy Transition, One Solution at a Time</h1>
    <div class="w-5/6 text-sm text-center md:text-lg xl:text-xl flex self-start items-center justify-center flex-col gap-2">
        <p>
            Committed to a more sustainable future, our team at Company Name
            team designs, constructs, and installs power generation and storage
            solutions that reduce the costs and carbon footprint of our clients.
            Discover a cleaner way to power your company today.
        </p>

        <Button title="Get in Touch" href=""/>
    </div>
</header>
