<nav class="grid grid-cols-3 sm:grid-cols-[.5fr_1fr_1fr] w-full h-32  sm:grid sm:grid-col items-center justify-center justify-items-center">
    <h1 class="col-start-2 md:col-start-1 sm:text-3xl text-lg">
        LOGO
    </h1>

    <ul class="hidden lg:flex col-start-2  text-sm lg:text-base col-span-2 justify-evenly w-full">
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Partnership</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Investment & PPAs</a></li>
        <li><a href="">Consulting</a></li>
        <li><a href="">Maintenance & Operations</a></li>
    </ul>

    <div class="lg:hidden col-start-3 sm:justify-self-end cursor-pointer sm:mr-12">
        <div class="w-8 h-1 bg-black m-1"></div>
        <div class="w-8 h-1 bg-black m-1"></div>
        <div class="w-8 h-1 bg-black m-1"></div>
    </div>
</nav>